:root {
    --bg-color: #fbfbfb;
    --color: #373737;
    --blue: #1da1f2;
    --green: #00f2aa;
    --orange: #ffe4a4;
    --shadow: rgba(0, 0, 0, .25);
}

html {
    height: 100%;
}

body {
    display: flex !important;
    height: 100%;
    background: linear-gradient( to bottom right, var(--bg-color), var(--orange), var(--bg-color)) no-repeat;
}


/*--------------------------------------------------------------------------------------------------------------------*/


/* responsive considerations */

@media screen and (max-width: 800px) {
    body {
        flex-direction: column;
    }
    body .left.col {
        background-color: var(--orange);
    }
    body .left .container {
        margin: 25vh auto;
        transform: translateY(0);
    }
    body .left .container button {
        margin-top: 8px;
    }
    body .divider {
        display: none;
    }
    body .right.col {
        background-color: var(--bg-color);
    }
}


/*--------------------------------------------------------------------------------------------------------------------*/


/* standardize elements */

a, body, button, div, h1, label, input, ul, li, output {
    display: block;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    color: var(--color);
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    outline: none;
    /* border: 1px solid; */
}

a, button, input {
    display: inline-block;
}

a, button {
    cursor: pointer;
}


/*----------------------------------------------------------------------------------------------------------------------

Begin styling

----------------------------------------------------------------------------------------------------------------------*/

.logo {
    position: absolute;
    top: 36px;
    left: 36px;
    z-index: 1002;
    width: 64px;
    height: 64px;
    background: url("../images/spendbridge.png") no-repeat center -2px / 110%;
    border: 4px solid;
    border-radius: 100%;
    box-shadow: 0 2px 2px var(--shadow);
    opacity: .85;
    transition: all .05s;
}

.logo:hover {
    opacity: 1;
    transform: scale(1.05);
}


/*--------------------------------------------------------------------------------------------------------------------*/


/* left and right cols/sides */

.col {
    padding: 32px;
    min-height: 100vh;
}


/*--------------------------------------------------------------------------------------------------------------------*/

.left.col {
    /* display: flex; */
    flex: 1;
    height: 100%;
    min-height: 528px;
}


/*----------------------------------------------------------------------------*/


/* background image of users */

.left.col .background {
    position: absolute;
    top: -6vh;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/users.png") no-repeat center / 110%;
    opacity: .1;
}


/*----------------------------------------------------------------------------*/

.left .container {
    margin: 50% auto;
    padding: 44px 0;
    width: 80%;
    min-width: 300px;
    background-color: rgba(255, 255, 255, .95);
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .75);
    transform: translateY(-50%);
}


/* User Picker 1.0 */

.left .container h1 {
    display: inline-block;
    margin-bottom: 24px;
    padding-bottom: 12px;
    width: 80%;
    font-size: 42px;
    text-shadow: 0 1px 2px var(--shadow);
    border-bottom: 1px solid;
}

.left .container label {
    margin-bottom: 40px;
    text-shadow: 0 1px 4px var(--shadow);
}


/*----------------------------------------------------------------------------*/


/* the search filter and button */

.left .container input, .left .container button {
    padding: 8px;
    height: 40px;
    font-size: 14px;
    border: 1px solid var(--color);
    border-radius: 8px;
    box-shadow: 0 2px 6px var(--shadow);
}

.left .container input {
    width: 300px;
}

.left .container button {
    margin: 0 12px;
    padding: 8px 22px;
    background-color: var(--blue);
    color: var(--bg-color);
    font-weight: bold;
    text-shadow: 0 1px 0 var(--color);
    border-radius: 12px;
    transition: background-color 250ms;
}

.left .container button:hover {
    background-color: var(--green);
}

.left .container button:focus {
    background-color: var(--green);
}

.left .container button:active {
    transform: scale(.99);
}


/*--------------------------------------------------------------------------------------------------------------------*/

.divider {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1001;
    height: 95%;
    border: 1px solid;
    transform: translateX(-50%) translateY(-50%);
}


/*--------------------------------------------------------------------------------------------------------------------*/

.right.col {
    display: flex;
    flex: 1;
    height: 100%;
    background-color: rgba(255, 255, 255, .5);
    background-clip: padding-box;
}


/*----------------------------------------------------------------------------*/

.right .users-list {
    margin: auto;
    width: 95%;
    min-width: 200px;
    max-height: 100%;
    overflow: auto;
}

.right .users-list li, .right .users-list li {
    color: #111;
}

.right .users-list li {
    padding: 4px;
    color: #111;
    /* font-weight: bold; */
    text-shadow: 0 1px 32px white;
}


/* .right .users-list a {} */

.right .users-list a:hover {
    color: white;
    text-shadow: 0 1px 0 var(--blue), 0 0 4px var(--blue);
}


/*----------------------------------------------------------------------------*/

.message {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    padding: 24px;
    width: 75%;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    font-weight: bold;
    text-shadow: 0 1px 0 black, 0 1px 2px var(--shadow);
    opacity: 0;
    border-radius: 16px;
    transform: translateX(-50%) translateY(-100%);
}