:root {
    --bg-color: whitesmoke;
    --color: #111;
}

html {
    height: 100%;
}

body {
    display: flex !important;
    height: 100%;
}


/*--------------------------------------------------------------------------------------------------------------------*/


/* standardization */

a, body, button, div, footer, h1, h2, h3, h4, h5, h6, label, input, ul, li, nav, output, p, section, span {
    display: block;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--color);
    text-align: center;
    text-decoration: none;
    outline: none;
    /* border: 1px solid; */
}

a, button, input, span {
    display: inline-block;
}

a, button {
    cursor: pointer;
}


/*--------------------------------------------------------------------------------------------------------------------*/

.left {
    display: flex;
    flex: 1;
    height: 100%
}

.left .container {
    margin: auto;
}


/*--------------------------------------------------------------------------------------------------------------------*/

.right {
    display: flex;
    flex: 1;
    height: 100%;
}

.right .users-list {
    margin: auto;
    width: 100%;
    max-height: 100%;
    overflow: auto;
}

.message {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    padding: 24px;
    width: 40%;
    background-color: var(--color);
    color: var(--bg-color);
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
}